resources:
# The "name" property below will be the name of the new project
- name: {{ properties["PROJECT_NAME"] }}
  type: project.py
  properties:
    organization-id: "{{ properties["ORGANIZATION_ID"] }}"
    billing-account-name: {{ properties["BILLING_ACCOUNT"] }}
    # The apis to enable in the new project.
    # To see the possible APIs, use gcloud CLI: gcloud service-management list
    apis:
    - compute-component.googleapis.com
    - pubsub.googleapis.com
    - bigquery-json.googleapis.com
    - clouddebugger.googleapis.com
    - cloudresourcemanager.googleapis.com
    - storage-component.googleapis.com
    - container.googleapis.com
    - storage-api.googleapis.com
    - logging.googleapis.com
    - resourceviews.googleapis.com
    - replicapool.googleapis.com
    - deploymentmanager.googleapis.com
    - cloudbilling.googleapis.com
    - runtimeconfig.googleapis.com
    - sql-component.googleapis.com
    - iam.googleapis.com
    - cloudtrace.googleapis.com
    - servicemanagement.googleapis.com
    - replicapoolupdater.googleapis.com

    # The service accounts you want to create in the project
    service-accounts:
    - {{ properties["SERVICE_ACCOUNT_TO_CREATE"] }}
    # IAM policy on the new project
    iam-policy:
      bindings:
      - role: roles/owner
        members:
        # Make sure to include the DM service account that is doing the deployment!
        {% for service_account in properties["ACCOUNT_OWNERS"] %}
        - serviceAccount:{{ service_account }}
        {% endfor %}
